.App {
  text-align: center;
}

.loading-bar {
  display: grid;
  grid-row-gap: 12px;
}

progress {
  border: 1px solid #294910;
  height: 20px;
  width: 400px;
}

progress[value]::-webkit-progress-bar {
  background: #e8e8e8;
}

progress[value]::-webkit-progress-value {
  background: #294910;
}